@max-width: 800px;
@min-width: 276px;
@tabs-height: 4em;
@tabs-width: 7.5em;
@picture-width: 114px;
@border-width: 1px;
@border: solid 1px #ddd;
@border-dev: none; /*dashed 1px #c0c0c0; */
@grey-60: #555;
@grey-50: #333;
@grey-40: #939598;
@grey-20: #a4b0b5; 
@grey-30: #d3d3d3;
@content-background: #f9f9f9;
@input-border: #d8bbab;
@navy: #0c5973;
@navy-boder: #5c8fa0;
@link-hover: #1db0ed;
@date-range: #dbf4fd;
@red: #93262b;
@white: #fff;
@calendar-height: 18.275em;

#graphical-wdgtz-container {
  font-family: "Roboto Regular",Arial,Helvetica,sans-serif;
  font-size: 11px;

  .graphical-wdgtz-container-wrapper {
    max-width: @max-width;
    margin: 0 auto;
    min-width: @min-width;
  }

  * {
    box-sizing: border-box;
  }

  input, select, .comiseo-daterangepicker-triggerbutton {
    display: block;
    border: 1px solid @input-border;
    height: 2.5em;
    color: @grey-50;
    background-color: @white;
    padding-left: 1em;
    box-shadow: none;
    border-radius: 0;
    font-size: 13px;
  }

  select {
    margin-right: .1em;
    background-image: url(../images/dropdown.png);
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    padding-right: 2em;

    &::-ms-expand {	
      display: none; 
    }
  }

  button {
    display: block;
    text-transform: uppercase;
    background-color: @navy;
    border: solid 1px @navy-boder;
    height: 3em;
    color: @white;
    margin-left: auto;
    margin-right: auto;
    padding: 2px 1.5em 3px;
  }

  .wdgtz_hide {
    display: none;
  }

  ul.wdgtz_tabs {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: calc(@tabs-width * 3);

    li {
      display: none;
      float: left;
      width: @tabs-width;
      height: @tabs-height;
      border: @border;
      text-align: center;
      font-size: .85em;
      padding-top: .25em;
      background-repeat: no-repeat;

      &.wdgtz_active {
        background-color: @content-background;
      }

      &.wdgtz_staying {
        display: block;
        background-image: url('../images/staying.png');
        background-size: 2.5em auto;
        background-position: 2.5em 2em;
      }

      &.wdgtz_driving {
        display: block;
        background-image: url('../images/driving.png');
        background-size: 1.85em auto;
        background-position: 2.75em 2em;
    }

      &.wdgtz_flying {
        display: block;
        background-image: url('../images/flying.png');
        background-size: 1.75em auto;
        background-position: 2.75em 1.75em;
      }
    }
  }

  .wdgtz_content {
    clear: both;
    min-width: 240px;
    width: 100%;
    border: @border;
    background-color: @content-background;

    &.wdgtz_full {

      .wdgtz_hotel {
        border: @border-dev;

        .wdgtz_header {
          float: left;
          width: ~"calc(100% - 114px - 4em)";

          label {
            float: left;
            height: 3.75em;;
            margin-right: .5em;
          }

          .wdgtz_location {
            float: left;
          }

          .wdgtz_location-name {
            display: block;
          }

          label, .wdgtz_address1, .wdgtz_country {
            clear: none;
            display: inline-block;
          }

          .wdgtz_country {
            margin-right: 4.5em;
          }

          .wdgtz_edit {
            display: inline-block;

            &::before{
              width: 1.75em;
              height: 1.75em;
              background-size: 1.75em 1.75em;
            }
          }
        }

        .wdgtz_details {
          clear: left;
          display: inline-block;
          width: ~"calc(100% - 114px - 86px - 1em - 4em)";
          vertical-align: bottom;

          .comiseo-daterangepicker-triggerbutton.ui-widget{
            display: inline-block;
            width: ~"calc(50% - .75em)";
            float: left;
          }

          .wdgtz_guest, .wdgtz_rooms {
            width: ~"calc(25% - .75em)";
            margin-left: .75em;
          }

          .wdgtz_guest {
            vertical-align: top;
          }

          .wdgtz_options.wdgtz_expanded .wdgtz_params {
            height: 4em;
          }
        }

        .wdgtz_action {
          display: inline-block;
          width: 86px;
          margin-bottom: 3.35em;

          &.wdgtz_expanded {
            margin-bottom: 1.1em;
          }
        }

        .wdgtz_picture-maps {
          float: right;
          width: ~"calc(114px + 4em)";
        }
      }

      .wdgtz_car {
        .wdgtz_starting-location, .wdgtz_destination {
          display: inline-block;
          width: ~"calc(50% - .75em)";
        }

        .wdgtz_starting-location {
          float: left;
          padding-right: .75em;
        }

        .wdgtz_destination{
          padding-left: .75em;

          .wdgtz_country {
            margin-right: 1em;
          }
        }

        .wdgtz_options {
          &.wdgtz_expanded .wdgtz_params {
            height: 14em;

            &.wdgtz_trip-rule-oneway {
              height: 17em;
            }
          }

          .wdgtz_params {

            .wdgtz_roundtrip {
              width: 30%;
              display: inline-block;
              vertical-align: bottom;
            }

            .wdgtz_pick-up, .wdgtz_drop-off {
              .wdgtz_time-select {
                padding-left: .5em;
              }
            }

            &.wdgtz_trip-rule-oneway {

              .wdgtz_pick-up {
                margin-right: 30%;
              }
              .wdgtz_drop-off {
                margin-left: 1em;
                margin-right: 30%;
              }

              .wdgtz_pick-up label, .wdgtz_drop-off label {
                display: none;
              }

              .wdgtz_oneway {
                width: 30%;
                display: inline-flex;
                vertical-align: bottom;
              }

              .wdgtz_action {
                margin-right: ~"calc(40% - 1em)";
              }
            }

            .wdgtz_pick-up {
              width: 30%;
              display: inline-flex;
              vertical-align: bottom;
              margin-left: 1em;
            }

            .wdgtz_drop-off {
              width: 30%;
              display: inline-flex;
              vertical-align: bottom;
              margin-left: -.45em;
            }

            .wdgtz_car-company {
              width: 30%;
              display: inline-block;
            }

            .wdgtz_action {
              float: right;
              margin-right: ~"calc(10% - 1em)";
            }
          }
        }
      }

      .wdgtz_flight {
        .wdgtz_details {
          display: inline-block;
          width: ~"calc(100% - 85px - 1em)";
          padding-right: 0;

          .wdgtz_flying-from, .wdgtz_flying-to {
            display: inline-block;
            width: 27%;
          }

          .wdgtz_flying-to {
            width: 30%;
          }
          
          .wdgtz_flying-to{
            padding-left: .5em;
            vertical-align: top;
          }

          .wdgtz_calendar, .comiseo-daterangepicker-triggerbutton.ui-widget, .wdgtz_traveler {
            display: inline-block;
            width: 24%;
            min-width: 24%;
            vertical-align: bottom;
          }

          .wdgtz_calendar, .comiseo-daterangepicker-triggerbutton.ui-widget {
            padding-left: .5em;
            padding-right: .5em;
          }

          .wdgtz_traveler {
            width: 17%;
            min-width: 17%;
          }

          .wdgtz_options {
          
            &.wdgtz_expanded .wdgtz_params {
              height: 4em;
            }

            .wdgtz_airline {
              display: inline-block;
              width: 32%;
            }

            .wdgtz_seat-class {
              display: inline-block;
              width: 37%;
            }
          }
        }

        .wdgtz_action {
          &.wdgtz_expanded {
            vertical-align: bottom;
            margin-bottom: 1.5em;

            button {
              position: relative;
              margin-right: calc(100% + .5em);
            }
          }

          display: inline-block;
          width: ~"calc(80px + 1em)";
          vertical-align: top;
          margin-top: 1.5em;

          button {
            margin-right: .5em;
          }
        }
      }

      .wdgtz_footer {
        flex-direction: row;
        justify-content: space-between;
        min-height: 4em;

        .wdgtz_my-itineraries {
          margin-top: 1em;
        }

        .wdgtz_social {
          flex: 1 1 310px;
        }

        .wdgtz_powered-by {
          flex: 1 1 130px;

          :after {
            margin-right: 1.5em;
          }
        }
      }
    }

    &.wdgtz_mobile {

      .wdgtz_hotel .wdgtz_details {
        & .wdgtz_guest, & .wdgtz_rooms {
          display: block;
          width: 100%;
          float: none;
        }

        .comiseo-daterangepicker-triggerbutton.ui-widget.comiseo-daterangepicker-active{
          margin-bottom: @calendar-height;
        }

        .wdgtz_options {
          &.wdgtz_expanded .wdgtz_params {
            height: 8.2em;
          }

          .wdgtz_params {
            .wdgtz_hotel-chain {
              margin-bottom: 1em;
            }

            .wdgtz_hotel-chain, .wdgtz_hotel-rating {
              display: block;
              width: 100%;
              float: none;
            }
          }
        }
      }

      .wdgtz_car {
          .wdgtz_destination {
          height: auto;

          .wdgtz_address1 {
            display: block;
          }

          input.wdgtz_full-address {
            width: 80%;
            margin-right: 1em;
          }
        }

        .wdgtz_options .wdgtz_params .wdgtz_trip-rule > label:first-of-type {
          margin-right: 5em;
        }
      }

      .wdgtz_flight .comiseo-daterangepicker-triggerbutton.ui-widget.comiseo-daterangepicker-active {
        margin-bottom: 18.275em;
      }
    }

    > * {
      display: none;
    }

    > .wdgtz_active {
      display: block;
    }

    .wdgtz_hotel {

      .wdgtz_header {
        font-size: 13px;
        padding-top: 1.5em;
        padding-left: 1.5em;
        margin-bottom: 1em;

        .wdgtz_full-address {
          display: none;
        }

        input.wdgtz_full-address {
          width: 60%;
          margin-right: 4.5em;
        }

        &.editable {
          .wdgtz_address1, .wdgtz_city, .wdgtz_state-province, 
          .wdgtz_zip, .wdgtz_country{
            display: none;
          }

          input.wdgtz_full-address {
            display: inline-block;
          }

          &.edited span.wdgtz_full-address {
            display: none;
          }
        }

        &.edited {
          .wdgtz_address1, .wdgtz_city, .wdgtz_state-province, 
          .wdgtz_zip, .wdgtz_country{
            display: none;
          }

          span.wdgtz_full-address {
            display: inline-block;
          }
        }

        .wdgtz_location-name {
          display: block;
        }

        label, .wdgtz_address1 {
          display: block;
          clear: left;
        }

        .wdgtz_city, .wdgtz_state-provice, .wdgtz_zip {
          display: inline-block;
        }

        .wdgtz_country {
          margin-right: 7em;
        }
      }

      .wdgtz_details {
        border: @border-dev;
        padding-left: 1.5em;
        padding-right: 1.5em;

        &:before {
          display: block;
          position: relative;
          content: 'Check in / check out:';
          font-size: 11px;
          top: -.25em;
        }

        .wdgtz_calendar {
          display: inline-block;
          width: ~"calc(50% - .75em)";
        }

        .comiseo-daterangepicker-triggerbutton {
          width: 100%;
          margin-bottom: 1em;
          background-image:  none;
          text-transform: uppercase;

          &.ui-widget {
            min-width: 15em;
            transition: margin-bottom 0.3s ease;
          }
        }

        & .wdgtz_guest {
          float: left;
          width: ~"calc(50% - .75em)";
          margin-bottom: 1em;
        }
        
        & .wdgtz_rooms {
          float: right;
          width: ~"calc(50% - .75em)";
          margin-bottom: 1em;
        }

        .wdgtz_options {

          &.wdgtz_expanded {
            label {

              .wdgtz_more {
                display: none;
              }

              .wdgtz_fewer {
                display: inline;
              }
            }

            .wdgtz_params {
              height: 4em;
              opacity: 1;
            }
          }

          label {

            .wdgtz_more {
              display: inline;
            }

            .wdgtz_fewer {
              display: none;
            }
          }

          .wdgtz_params {

            .wdgtz_hotel-chain {
              display: inline-block;
              width: ~"calc(50% - .75em)";
            }

            .wdgtz_hotel-rating {
              float: right;
              width: ~"calc(50% - .75em)";
            }
          }
        }
      }

      .wdgtz_action {
        border: @border-dev;
        margin-bottom: 1em;

        /*button {
          width: 86px;
        }*/
      }

      .wdgtz_picture-maps {
        border: @border-dev;

        .wdgtz_back .wdgtz_canvas .wdgtz_flip {
          font-size: 8px;
        }

        .wdgtz_canvas {
          width: 114px;
          height: 114px;
          background-color: @grey-40;
          border: solid 1px #6f6f72;
          color: @white;
          text-align: center;
          font-size: 1.2em;
          cursor: pointer;
          background-size: 114px auto;
          background-repeat: no-repeat;

          /* The ghost, nudged to maintain perfect centering */
          &:before { 
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em; /* Adjusts for spacing */
          }
        }

        .wdgtz_flip {
          font-size: 10px;
          color: @navy;
          padding-top: 15px;
          text-align: center;
          width: 28.5px;
          height: 28.5px;
          background-image: url(../images/flip.png);
          background-repeat: no-repeat;
          background-size: 20px auto;
          background-color: @white;
          background-position: 3.5px 1.5px;
          position: absolute;
          margin-top: -32.5px;
          margin-left: 80px;
          cursor: pointer;
          border: @border;
          z-index: 1000005;
        }

        #wdgtz_hotel-map{
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    /* entire container, keeps perspective */
    .wdgtz_flip-container {
      margin-left: auto;
      margin-right: auto;
      margin-top: 1.5em;
      margin-bottom: 1em;

      perspective: 1000px;
      transform-style: preserve-3d;

      /* flip the pane when hovered */
      //&:hover .flipper, 
      &.wdgtz_hover .wdgtz_flipper {
        transform: rotateY(180deg);
      }

      &, .wdgtz_front, .wdgtz_back {
        width: 114px;
        height: 114px;
      }

      /* flip speed goes here */
      .wdgtz_flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;

        /* hide back of pane during swap */
        .wdgtz_front, .wdgtz_back {
          backface-visibility: hidden;

          position: absolute;
          top: 0;
          left: 0;
        }

        /* front pane, placed above back */
        .wdgtz_front {
          z-index: 2;
          transform: rotateY(0deg);
        }

        /* back, initially hidden pane */
        .wdgtz_back {
          transform: rotateY(-180deg);
        }
      }
    }

    .wdgtz_car {

      > label {
        display: block;
        width: 100%;
        margin: 1em 1.35em;
        font-size: 13px;
        font-weight: bold;
      }

      .wdgtz_driving-directions {
        margin: .75em 1.5em;
        background-color: @grey-30;
        padding: .75em;
        text-align: center;
        font-size: 13px;
      }

      .wdgtz_starting-location, .wdgtz_destination {
        display: block;
        width: 100%;
        float: none;
        padding-left: 1.5em;
        padding-right: 1.5em;
        height: 5em;
        margin-bottom: 1em;
      }

      .wdgtz_starting-location {
        > label {
          font-size: 11px;
          line-height: 1.5em;
        }

        > input {
          width: 100%;
        }
      }

      .wdgtz_destination {
        line-height: 1.35em;

        .wdgtz_location-name {
          display: block;
        }

        > span {
          font-size: 13px;
        }

        > label {
          display: block;
          line-height: 1.5em;
        }

        &.edited {
          .wdgtz_address1, .wdgtz_city, .wdgtz_state-province,
          .wdgtz_zip, .wdgtz_country {
            display: none;
          }

          span.wdgtz_full-address {
            display: block;
          }
        }

        &.editable {
          input.wdgtz_full-address {
            display: block;
          }
        }

        .wdgtz_country {
          margin-right: 7em;
        }

        > input {
          width: 100%;
        }

        .wdgtz_full-address {
          display: none;
        }

        input.wdgtz_full-address {
          width: 80%;
          margin-right: 2.5em;
        }

        &.editable {
          .wdgtz_address1, .wdgtz_city, .wdgtz_state-province, 
          .wdgtz_zip, .wdgtz_country{
            display: none;
          }

          input.wdgtz_full-address {
            display: inline-block;
          }

          &.edited span.wdgtz_full-address {
            display: none;
          }
        }

        &.edited {
          .wdgtz_address1, .wdgtz_city, .wdgtz_state-province, 
          .wdgtz_zip, .wdgtz_country{
            display: none;
          }

          span.wdgtz_full-address {
            display: inline-block;
          }
        }
      }

      .wdgtz_get-directions {
        display: inline-block;
        width: ~"calc(50% - .75em)";
        text-align: right;
        padding-right: .75em;
        margin-bottom: 1em;

        button {
          margin-right: 0;
        }
      }

      .wdgtz_view-time {
        display: inline-block;
        width: ~"calc(50% - .75em)";
        text-align: left;
        padding-left: .75em;
        margin-bottom: 1em;

        button {
          margin-left: 0;
        }
      }

      .wdgtz_options {
        margin-left: 1.5em;
        margin-right: 1.5em;

        &.wdgtz_expanded .wdgtz_params {
          height: 29em;

          &.wdgtz_trip-rule-oneway {
            height: 28.75em;
          }
        }

        .wdgtz_params {
          opacity: 1;
          transition: all 0.3s ease;

          .wdgtz_trip-rule input[type="radio"] {
            display: inline-block;
          }

          .wdgtz_trip-rule > label {
            display: inline-block;
            height: 2.5em;
            vertical-align: middle;
            font-size: 13px;

            &:first-of-type{
              margin-right: 7em;
            }
          }

          input[type="text"], select {
            width: 100%;
            margin-bottom: 1em;
          }

          .wdgtz_pick-up, .wdgtz_drop-off {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            > label {
              line-height: 1.5em;
              flex: 0 0 100%;
            }

            > input.wdgtz_datepicker {
              flex: 1 1 60%;
              text-transform: uppercase;
            }

            .wdgtz_time-select {
              flex: 1 1 30%;
            }
          }

          .wdgtz_oneway {
            display: none;
          }

          &.wdgtz_trip-rule-oneway {

            .wdgtz_roundtrip {
              display: none;
            }
          
            .wdgtz_oneway {
              display: block;
            }
          }

          .wdgtz_roundtrip  > label {
            line-height: 1.5em;
          }
        }
      }
    }

    .wdgtz_edit {
      font-size: 13px;
      display: inline-block;
      height: 1.25em;
      width: 1em;
      border: @border-dev;
      cursor: pointer;

      &::before{
        content: '';
        display: block;
        width: 2em;
        height: 2em;
        background-image: url(../images/edit-location.png);
        background-size: 2em 2em;
        background-repeat: no-repeat;
        background-position-y: -.25em;
      }
    }

    .wdgtz_options {
      clear: right;

      &.wdgtz_expanded > label::before {
        border-top: .45em solid @navy;
        border-left: .45em solid transparent;
        border-right: .45em solid transparent;
        border-bottom: none;
      }

      > label {
        color: @navy;
        display: block;
        width: 100%;
        margin-bottom: 1em;
        text-decoration: underline;

        &::before {
          display: inline-block;
          content: '';
          width: 0; 
          height: 0; 
          border-top: .45em solid transparent;
          border-bottom: .45em solid transparent;
          border-left: .45em solid @navy;
          border-right: none;
          margin-right: .5em;
        }
      }

      .wdgtz_params {
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: all 0.6s ease;
      }
    }

    .wdgtz_flight {
      > label {
        display: block;
        width: 100%;
        font-size: 13px;
        margin-bottom: .5em;
        line-height: 1.175em;
        padding-top: 1em;
        padding-left: 1.5em;
      }

      .wdgtz_details {
        padding: 0 1.5em .25em 1.5em;

        label {
          display: block;
          width: 100%;
          font-size: 11px;
          line-height: 1.5em;
        }

        .wdgtz_starting-airport {
          width: 100%;
          margin-bottom: 1em;
        }

        .wdgtz_location {
          display: flex;
          margin-bottom: 1em;

          label {
            font-size: 13px;
            flex: 1 1 80%;
          }

          .wdgtz_edit {
            flex: 0 0 2em;
          }
        }

        .wdgtz_calendar, .comiseo-daterangepicker-triggerbutton {
          width : 100%;
          margin-bottom: 1em;
          transition: margin-bottom 0.3s ease;
        }

        .wdgtz_traveler {
          width: 100%;
          margin-bottom: 1em;
        }

        .wdgtz_airline, .wdgtz_seat-class {
          width: 100%;
        }

        .wdgtz_airline {
          margin-bottom: 1em;
        }

        .wdgtz_options.wdgtz_expanded .wdgtz_params {
          opacity: 1;
          height: 8em;
        }
      }

      .wdgtz_action {
        margin-bottom: .5em;

        button {
          transition: all 0.3s ease;
        }
      }
    }

    .wdgtz_footer {
      display: flex;
      flex-direction: column;
      min-height: 3em;
      width: 100%;
      background-color: @white;
      height: 100%;
      text-align: center;
      padding-top: .5em;

      .wdgtz_my-itineraries {
        flex: 1 1 auto;
        display: block;
        margin-bottom: .5em;

        a, a:hover, a:active, a:visited {
          text-decoration: underline;
          color: @navy;
        }
      }

      .wdgtz_social {
        flex: 1 1 auto;
        transform: scale(.75);
      }

      .wdgtz_powered-by {
        flex: 1 1 auto;

        &:after {
          display: block;
          content: '';
          width: 191px;
          height: 30px;
          background-image: url('../images/poweredby_tripplanz.png');
          background-repeat: no-repeat;
          margin-top: .5em;
          margin-bottom: 1em;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

.comiseo-daterangepicker.ui-widget {
  font-family: "Roboto Regular",Arial,Helvetica,sans-serif;
  font-size: 12px;
  padding: 0;
  border: 1px solid #aaa;
  height: @calendar-height;
  overflow: hidden;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;  
  height: 17.25em;

  .ui-state-disabled, .ui-widget-content .ui-state-disabled, 
  .ui-widget-header .ui-state-disabled {
    opacity: .35;
    background-image: none;
  }

  .comiseo-daterangepicker-presets {
    display: none;
  }

  .comiseo-daterangepicker-presets, .comiseo-daterangepicker-calendar {
    height: auto;
    padding-right: 0;
    padding-left: 0;
  }

  .ui-datepicker {
    padding: 0;
    width: 20em;
  }

  .ui-widget-header {
    border: none;
    background: #f1f1f1;
    padding: .75em 0;
    border-radius: 0;
    font-weight: normal;

    .ui-datepicker-prev {
      top: 1em;
      left: 1px;

      &::before {
        display: block;
        content: '<';
        margin-left: 1em;
        font-family: "Roboto Regular",Arial,Helvetica,sans-serif;
      }

      span {
        display: none;
      }
    }

    .ui-datepicker-prev-hover,
    .ui-datepicker-next-hover {
      &::before{
        color: @link-hover;
      }

      &.ui-state-disabled::before {
        color: #222;
      }

      border: none;
      background: 0;
    }

    .ui-datepicker-next {
      top: 1em;
      right: 1px;

      &::before {
        display: block;
        content: '>';
        font-family: "Roboto Regular",Arial,Helvetica,sans-serif;
      }

      span {
        display: none;
      }
    }
  }

  .ui-widget-content {
    border: none;
  }

  button.ui-priority-secondary.ui-button.ui-widget {
    opacity: .7;
  }

  button.ui-button.ui-widget{
    background: 0;
    border: 0;
    font-size: 1em;
  }

  .ui-state-default, .ui-widget-content .ui-state-default {
    background: 0;
    border: 0;
    color: @grey-60;
  }

  .ui-datepicker-calendar {
    font-size: .85em;

    th {
       font-weight: normal;
       font-size: .85em;
    }

    tr {
      border-top: 1px solid @grey-30;
    }

    td {
      padding: .25em 0;

      .ui-state-default {
          padding-right: .75em;
      }

      &.ui-state-highlight, &.ui-state-highlight .ui-state-default {
        color: @link-hover;
        background-color: @date-range;
      }

      &.start-date {
        // text-align: right;

        &::before {
          content: '';
          display: block;
          position: absolute;
          background-image: url(../images/start-date.png);
          background-repeat: no-repeat;
          background-size: 22px 18px;
          width: 20px;
          height: 20px;
          margin-left: 1.05em;
          margin-top: -.1em;
          opacity: 0.25;
        }

        /*a {
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
          display: inline-block;
        }*/
      }

      &.end-date {
        // text-align: right;

        &::before {
          content: '';
          display: block;
          position: absolute;
          background-image: url(../images/end-date.png);
          background-repeat: no-repeat;
          background-size: 22px 18px;
          width: 20px;
          height: 20px;
          margin-left: .75em;
          margin-top: -.1em;
          opacity: 0.25;
        }

        /*a {
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
          display: inline-block;
        }*/
      }
    }
  }

  .comiseo-daterangepicker-buttonpanel {
    float: none;
    width: 100%;
    background-color: @red;
    display: flex;
    font-size: 10px;

    > button {
      flex: 1 1 100%;
      margin: 0;
      color: @white;
      font-family: "Roboto Regular",Arial,Helvetica,sans-serif;

      &:first-child {
        padding: 1.5em 0;
      }

      &:last-child {
        padding: 1.5em 0;
      }

      &.ui-priority-primary, &.ui-priority-secondary {
        font-weight: normal;
      }
    }
  }
}

#ui-datepicker-div.ui-datepicker.ui-widget.ui-widget-content {
  background-color: @white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #aaa;
  font-size: 11px;
  font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
  padding: 0;
  width: 20em;

  .ui-datepicker-header.ui-widget-header {
    background-color: @red;
    color: @white;
    padding: .75em 0;
  }

  .ui-datepicker-unselectable, .ui-state-disabled{
    opacity: .35;
  }

  .ui-datepicker-prev.ui-corner-all::before {
    display: block;
    content: '<';
    margin-left: 1em;
    font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
    margin-top: .85em;
  }

  .ui-datepicker-next.ui-corner-all::before {
    display: block;
    content: '>';
    font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
    margin-top: .85em;
  }

  thead {
    font-size: .85em;
    background-color: #f1f1f1;
  }

  th {
    font-weight: normal;
    padding: .75em 0;
  }

  tr {
    border-top: 1px solid #d3d3d3;
  }

  td {
    padding: .5em 0;

    span, a {
      padding-right: 1em;
    }

    a, a:hover, a:visited, a:active {
      color: @grey-60;
    }

    .ui-state-active {
      color: @link-hover;
      background-color: @date-range;
    }
  }
}

.ui-widget.ui-widget-content.ui-autocomplete {
  font-family: "Roboto Regular",Arial,Helvetica,sans-serif;
  font-size: 12px;
  background-color: @white;
  border: 1px solid @input-border;
  max-height: 20em;
  overflow-y: scroll;

  .ui-menu, .ui-menu-item-wrapper {
    margin: 0;
    padding: .25em 1em;
  
    &:hover {
      margin: 0;
      padding: .25em 1em;
      background-color: @date-range;
    }
  }
}

