@tabs-height: 4em;
@tabs-width: 7.5em;
@picture-width: 114px;
@border-width: 1px;
@border: solid 1px #ddd;
@border-dev: none; /*dashed 1px #c0c0c0; */
@grey-50: #333;
@grey-30: #d3d3d3;
@grey-20: #a4b0b5; 
@content-background: #f9f9f9;
@input-border: #d8bbab;
@navy: #0c5973;
@navy-boder: #5c8fa0;
@link-hover: #1db0ed;
@date-range: #dbf4fd;
@red: #93262b;
@white: #fff;

.widget {
  font-family: "Roboto Regular",Arial,Helvetica,sans-serif;
  font-size: 11px;

  & * {
    box-sizing: border-box;
  }

  input, select, .comiseo-daterangepicker-triggerbutton {
    display: block;
    border: 1px solid @input-border;
    height: 2.5em;
    color: @grey-50;
    -webkit-appearance: none;
    background-color: @white;
    padding-left: 1em;
    box-shadow: none;
    border-radius: 0;
    font-size: 13px;
  }

  select {
    margin-right: .1em;
    background-image: url(../images/dropdown.png);
    background-repeat: no-repeat;
    background-position: right center;
  }

  ul.tabs {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: calc(@tabs-width * 3);

    li {
      display: block;
      float: left;
      width: @tabs-width;
      height: @tabs-height;
      border: @border;
      text-align: center;
      font-size: .85em;
      padding-top: .25em;
      background-repeat: no-repeat;

      &.active {
        background-color: @content-background;
      }

      &.staying {
        background-image: url('../images/staying.png');
        background-size: 2.5em auto;
        background-position: 2.5em 2em;
      }

      &.driving {
        background-image: url('../images/driving.png');
        background-size: 1.85em auto;
        background-position: 2.75em 2em;
    }

      &.flying {
        background-image: url('../images/flying.png');
        background-size: 1.75em auto;
        background-position: 2.75em 1.75em;
      }
    }
  }

  .content {
    clear: both;
    min-width: 240px;
    width: 100%;
    border: @border;
    background-color: @content-background;

    &.full {

      .hotel {
        border: @border-dev;

        .header {
          float: left;
          width: ~"calc(100% - 114px - 4em)";

          label {
            float: left;
            height: 3.75em;;
            margin-right: .5em;
          }

          label, .location-name, .address1,
          .country {
            clear: none;
          }

          .edit {
            display: inline-block;
            margin-left: 4em;
            float: none;

            &::before{
              background-size: 1.75em 1.75em;
            }
          }
        }

        .details {
          clear: left;
          display: inline-block;
          width: ~"calc(100% - 114px - 86px - 1em - 4em)";
          vertical-align: bottom;

          .comiseo-daterangepicker-triggerbutton.ui-widget{
            display: inline-block;
            width: ~"calc(50% - .75em)";
          }

          .guest, .rooms {
            width: ~"calc(25% - .75em)";
            margin-left: .75em;
          }
        }

        .action {
          display: inline-block;
          width: 86px;
        }

        .picture-maps {
          float: right;
          width: ~"calc(114px + 4em)";
        }
      }

      .footer {
        min-height: 4em;

        .powered-by {
          float: right;
          margin-right: 1em;
        }
      }
    }

    &.mobile {
        .hotel .header .edit {
        margin-right: 4em;
      }

      .hotel .details {
        & .guest, & .rooms {
          display: block;
          width: 100%;
          float: none;
        }

        .options .params {
          .hotel-chain, .hotel-rating {
            display: block;
            width: 100%;
            float: none;
          }
        }
      }
    }

    .hotel {

      .header {
        font-size: 13px;
        padding-top: 1.5em;
        padding-left: 1.5em;
        margin-bottom: 1em;

        label, .location-name, .address1, .country {
          display: block;
          clear: left;
        }

        .location-name {
          float: left;
        }
          
        .city, .state-provice, .zip {
          display: inline-block;
        }

        .edit {
          height: 1em;
          width: 1em;
          border: @border-dev;
          float: right;
          margin-right: 4em;

          &::before{
            content: '';
            display: block;
            width: 2em;
            height: 2em;
            background-image: url(../images/edit-location.png);
            background-size: 2.5em 2.5em;
            background-repeat: no-repeat;
            background-position-y: -.25em;
          }
        }
      }

      .details {
        border: @border-dev;
        margin-bottom: 1em;
        padding-left: 1.5em;
        padding-right: 1.5em;

        .comiseo-daterangepicker-triggerbutton {
          width: 100%;
          margin-bottom: 1em;
          background-image:  none;
          padding-left: 0;

          &.ui-button {
            min-width: 15em;
          }
        }

        .guest {
          display: inline-block;
          width: ~"calc(50% - .75em)";
          margin-bottom: 1em;
        }

        .rooms {
          float: right;
          width: ~"calc(50% - .75em)";
          margin-bottom: 1em;
        }

        .options {
          &.expanded {
            label {
              &::before{
                border-top: .45em solid @navy;
                border-left: .45em solid transparent;
                border-right: .45em solid transparent;
                border-bottom: none;
              }

              .more {
                display: none;
              }

              .fewer {
                display: inline;
              }
            }

            .params {
              display: block;
            }
          }

          label {
            color: @navy;
            display: block;
            width: 100%;
            margin-bottom: 1em;
            text-decoration: underline;

            &::before{
              display: inline-block;
              content: '';
              width: 0; 
              height: 0; 
              border-top: .45em solid transparent;
              border-bottom: .45em solid transparent;
              border-left: .45em solid @navy;
              border-right: none;
              margin-right: .5em;
            }

            .more {
              display: inline;
            }

            .fewer {
              display: none;
            }
          }

          .params {
            display: none;

            .hotel-chain {
              display: inline-block;
              width: ~"calc(50% - .75em)";
              margin-bottom: 1em;
            }

            .hotel-rating {
              float: right;
              width: ~"calc(50% - .75em)";
              margin-bottom: 1em;
            }
          }
        }
      }

      .action {
        border: @border-dev;
        margin-bottom: 1em;

        button {
          display: block;
          width: 86px;
          text-transform: uppercase;
          background-color: @navy;
          border: solid 1px @navy-boder;
          height: 3em;
          color: @white;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .picture-maps {
        border: @border-dev;

        .back .canvas .flip {
          font-size: 8px;
        }

        .canvas {
          width: 114px;
          height: 114px;
          background-color: #939598;
          border: solid 1px #6f6f72;
          color: @white;
          text-align: center;
          font-size: 1.2em;

          /* The ghost, nudged to maintain perfect centering */
          &:before { 
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em; /* Adjusts for spacing */
          }
        }

        .flip {
          font-size: 10px;
          color: @navy;
          padding-top: 15px;
          text-align: center;
          width: 28.5px;
          height: 28.5px;
          background-image: url(../images/flip.png);
          background-repeat: no-repeat;
          background-size: 20px auto;
          background-color: @white;
          background-position: 3.5px 1.5px;
          position: absolute;
          margin-top: -32.5px;
          margin-left: 80px;
          cursor: pointer;
          border: @border;
        }
      }
    }

    /* entire container, keeps perspective */
    .flip-container {
      margin-left: auto;
      margin-right: auto;
      margin-top: 1.5em;
      margin-bottom: 1em;

      perspective: 1000px;
      transform-style: preserve-3d;

      /* flip the pane when hovered */
      //&:hover .flipper, 
      &.hover .flipper {
        transform: rotateY(180deg);
      }

      &, .front, .back {
        width: 114px;
        height: 114px;
      }

      /* flip speed goes here */
      .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;

        /* hide back of pane during swap */
        .front, .back {
          backface-visibility: hidden;

          position: absolute;
          top: 0;
          left: 0;
        }

        /* front pane, placed above back */
        .front {
          z-index: 2;
          transform: rotateY(0deg);
        }

        /* back, initially hidden pane */
        .back {
          transform: rotateY(-180deg);
        }
      }
    }

    .car {
      border: @border-dev;
      display: none;
    }

    .flight {
      border: @border-dev;
      display: none;
    }

    .footer {
      min-height: 3em;
      min-width: 240px;
      width: 100%;
      background-color: @white;
      height: 100%;

      .powered-by {
        width: 191px;
        height: 30px;
        background-image: url('../images/poweredby_tripplanz.png');
        background-repeat: no-repeat;
        margin-top: .5em;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.comiseo-daterangepicker.ui-widget {
  font-family: "Roboto Regular",Arial,Helvetica,sans-serif;
  font-size: 12px;
  padding: 0;
  border: 1px solid #aaa;
  height: 18.275em;

  .comiseo-daterangepicker-presets {
    display: none;
  }

  .comiseo-daterangepicker-presets, .comiseo-daterangepicker-calendar {
    height: auto;
    padding-right: 0;
    padding-left: 0;
  }

  .ui-datepicker {
    padding: 0;
    width: 20em;
  }

  .ui-widget-header {
    border: none;
    background: #f1f1f1;
    padding: .75em 0;
    border-radius: 0;
    font-weight: normal;

    .ui-datepicker-prev {
      top: 1em;
      left: 1px;

      &::before {
        display: block;
        content: '<';
        margin-left: 1em;
        font-family: "Roboto Regular",Arial,Helvetica,sans-serif;
      }

      span {
        display: none;
      }
    }

    .ui-datepicker-prev-hover,
    .ui-datepicker-next-hover {
      &::before{
        color: @link-hover;
      }

      &.ui-state-disabled::before {
        color: #222;
      }

      border: none;
      background: 0;
    }

    .ui-datepicker-next {
      top: 1em;
      right: 1px;

      &::before {
        display: block;
        content: '>';
        font-family: "Roboto Regular",Arial,Helvetica,sans-serif;
      }

      span {
        display: none;
      }
    }
  }

  .ui-widget-content {
    border: none;
  }

  .ui-state-default, .ui-widget-content .ui-state-default {
    background: 0;
    border: 0;
  }

  .ui-datepicker-calendar {
    th {
      font-weight: normal;
      font-size: .85em;
    }

    tr {
      border-top: 1px solid @grey-30;
    }

    td {
      padding: .25em 0;

      .ui-state-default {
          padding-right: .75em;
      }

       &.ui-state-highlight .ui-state-default  {
         color: @link-hover;
         background-color: @date-range;
       }
    }
  }

  .comiseo-daterangepicker-buttonpanel {
    float: none;
    width: 100%;
    background-color: @red;
    display: flex;
    font-size: 10px;

    > button {
      flex: 1 1 100%;
      margin: 0;
      color: @white;
      font-family: "Roboto Regular",Arial,Helvetica,sans-serif;

      &:first-child {
        padding: 1em 0;
      }

      &:last-child {
        padding: 1em 0;
      }

      &.ui-priority-primary, &.ui-priority-secondary {
        font-weight: normal;
      }
    }
  }
}