@tabs-height: 40px;
@tabs-width: 75px;
@border-width: 1px;
@border: solid 1px #ddd;
@border-dev: dashed 1px #c0c0c0; // none

.widget {
  font-family: "Roboto Regular",Arial,Helvetica,sans-serif;
  font-size: 11px;

  & * {
    box-sizing: border-box;
  }

  & input, & select {
    display: block;
    border: 1px solid #d8bbab;
    height: 2.5em;
    color: #333;
    -webkit-appearance: none;
    background-color: #fff;
    padding: 1em;
    box-shadow: none;
    border-radius: 0;
  }

  ul.tabs {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: calc(@tabs-width * 3);

    li {
      display: block;
      float: left;
      width: @tabs-width;
      height: @tabs-height;
      border: @border;
    }
  }

  .content {
    clear: both;
    min-width: 240px;
    width: 100%;
    border: @border;
    background-color: #f9f9f9;

    &.full {

      .hotel {
        border: @border-dev;

        .header {
          float: left;
          width: ~"calc(100% - 114px - 4em)";

          label {
            float: left;
            height: 3.75em;;
            margin-right: .5em;
          }

          label, .location-name, .address1,
          .country {
            clear: none;
          }

          .edit {
            display: inline-block;
            margin-left: 2em;
            float: none;
          }
        }

        .details {
          clear: left;
          display: inline-block;
          width: ~"calc(100% - 114px - 86px - 1em - 4em)";
          vertical-align: bottom;
        }

        .action {
          display: inline-block;
          width: 86px;
        }

        .picture-maps {
          float: right;
          width: ~"calc(114px + 4em)";
        }
      }

      .footer {
        min-height: 4em;

        .powered-by {
          float: right;
          margin-right: 1em;
        }
      }
    }

    &.mobile .hotel .header .edit {
      margin-right: 2em;
    }

    .hotel {

      .header {
        padding-top: 1.5em;
        padding-left: 1.5em;
        margin-bottom: 1em;

        label, .location-name, .address1, .country {
          display: block;
          clear: left;
        }

        .location-name {
          float: left;
        }
          
        .city, .state-provice, .zip {
          display: inline-block;
        }

        .edit {
          height: 1em;
          width: 1em;
          border: @border-dev;
          float: right;
          margin-right: 4em;
        }
      }

      .details {
        border: @border-dev;
        margin-bottom: 1em;
        padding-left: 1.5em;
        padding-right: 1.5em;

        .calendar {
          width: 100%;
          margin-bottom: 1em;
        }

        .guest {
          display: inline-block;
          width: ~"calc(50% - .75em)";
          margin-bottom: 1em;
        }

        .rooms {
          float: right;
          width: ~"calc(50% - .75em)";
          margin-bottom: 1em;
        }

        .options {
          label {
            display: block;
            width: 100%;
            margin-bottom: 1em;
          }

          select {
            width: 100%;

            &.hotel-chain {
              margin-bottom: 1em;
            }
          }
        }
      }

      .action {
        border: @border-dev;
        margin-bottom: 1em;

        button {
          display: block;
          width: 86px;
          text-transform: uppercase;
          background-color: #0c5973;
          border: solid 1px #5c8fa0;
          height: 3em;
          color: #fff;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .picture-maps {
        border: @border-dev;

        .canvas {
          width: 114px;
          height: 114px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 1.5em;
          margin-bottom: 1em;
          background-color: #939598;
          border: solid 1px #6f6f72;
          color: #fff;
          text-align: center;
          font-size: 1.2em;

          /* The ghost, nudged to maintain perfect centering */
          &:before { 
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em; /* Adjusts for spacing */
          }
        }
      }
    }

    .car {
      border: @border-dev;
      display: none;
    }

    .flight {
      border: @border-dev;
      display: none;
    }

    .footer {
      min-height: 3em;
      min-width: 240px;
      width: 100%;
      background-color: #fff;
      height: 100%;

      .powered-by {
        width: 191px;
        height: 30px;
        background-image: url('../images/poweredby_tripplanz.png');
        background-repeat: no-repeat;
        margin-top: .5em;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}